In [1]:
import pandas as pd

df = pd.read_csv("world_data_2023.csv")

In [69]:
df.loc[df['Country'] == 'Afghanistan']

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions in tons,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10,652230,323000,32.49,93.0,Kabul,8672,...,78.40%,0.28,38041754,48.90%,9.30%,71.40%,11.12,9797273,33.93911,67.709953

In [55]:
df['Co2-Emissions in tons'] = df['Co2-Emissions in tons'].str.replace(',', '')

In [86]:
df.drop(['Gross tertiary education enrollment (%)'], axis=1, inplace=True)

In [12]:
df.rename(columns={'Forested_Area_(%)': 'Forested_Area_(%)'}, inplace=True)

In [2]:
df.head()

,Country,Density_(P/Km2),Abbreviation,Agricultural_Land(%),Land_Area(Km2),Armed_Forces_size,Birth_Rate,Fertility_Rate,Forested Area (%),GDP_in_USD,...,Official_language,Physicians_per_thousand,Population,Unemployment_rate,Urban_population,Latitude,Longitude,Continent,Gross_tertiary_education enrollment,Out_of_pocket_health_expenditure
0,Afghanistan,60,AF,58.1,652230.0,323000.0,32.49,4.47,2.1,1.910135e+10,...,Pashto,0.28,38041754.0,11.12,9797273.0,33.939110,67.709953,Asia,0.097,0.784
1,Albania,105,AL,43.1,28748.0,9000.0,11.78,1.62,28.1,1.527808e+10,...,Albanian,1.20,2854191.0,12.33,1747593.0,41.153332,20.168331,Europe,0.550,0.569
2,Algeria,18,DZ,17.4,2381741.0,317000.0,24.28,3.02,0.8,1.700000e+11,...,Arabic,1.72,43053054.0,11.70,31510100.0,28.033886,1.659626,Africa,0.514,0.281
3,Andorra,164,AD,40.0,468.0,NaN,7.20,1.27,34.0,3.154058e+09,...,Catalan,3.33,77142.0,2.10,67873.0,42.506285,1.521801,Europe,NaN,0.364
4,Angola,26,AO,47.5,1246700.0,117000.0,40.73,5.52,46.3,9.463542e+10,...,Portuguese,0.21,31825295.0,6.89,21061025.0,-11.202692,17.873887,Africa,0.093,0.334

In [9]:
df.to_csv('C:\\Users\\rival\\OneDrive\\Desktop\\FIT3179\\fit3179\\world_data_2023.csv', index=False)

In [138]:
df['Country'] = df['Country'].replace('Central African Republic', 'Central African Rep.')

In [5]:
df[df['Country'] == "Sï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½"]

,Country,Density_(P/Km2),Abbreviation,Agricultural_Land(%),Land_Area(Km2),Armed_Forces_size,Birth_Rate,Fertility_Rate,Forested Area (%),GDP in USD,Infant mortality,Life expectancy,Maternal mortality ratio,Official language,Physicians per thousand,Population,Unemployment rate,Urban_population,Latitude,Longitude
150,Sï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½,228,ST,50.7,964.0,1000.0,31.54,4.32,55.8,429016605.0,24.4,70.2,130.0,NaN,0.05,215056.0,13.37,158277.0,NaN,NaN

In [3]:
print(df['Official_language'].nunique())

77